<configuration>

    <property name="LOG-PATH" value="./log/"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date{dd MMM yyyy;HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG-PATH}/med-robot.log</file>
        <encoder>
            <pattern>%date{dd MMM yyyy;HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>
                ${LOG-PATH}/archived/med-doctor-assignment-service.%d{yyyy-MM-dd}.%i.log
            </fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>10MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
    </appender>
    <appender name="FILE-HTTP" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG-PATH}/med-robot-http.log</file>
        <encoder>
            <pattern>%date{dd MMM yyyy;HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>
                ${LOG-PATH}/archived/med-doctor-assignment-service-http.%d{yyyy-MM-dd}.%i.log
            </fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>10MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
    </appender>
    <appender name="FILE-BUSINES" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG-PATH}/med-robot-busines.log</file>
        <encoder>
            <pattern>%date{dd MMM yyyy;HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>
                ${LOG-PATH}/archived/med-doctor-assignment-service-busines.%d{yyyy-MM-dd}.%i.log
            </fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>10MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
    </appender>
    <logger name="io.micronaut" level="INFO" />
    <logger name="io.micronaut.http" level="TRACE" additivity="false">
        <appender-ref ref="FILE-HTTP"/>
        <appender-ref ref="STDOUT"/>
    </logger>
    
        <logger name="com.qsystems.meddoctorassignment" level="DEBUG" additivity="false">
        <appender-ref ref="FILE-BUSINES"/>
        <appender-ref ref="STDOUT"/>
    </logger>
    <logger name="com.qsystems.meddoctorassignment.websocket" level="INFO" />
    <logger name="com.qsystems.meddoctorassignment.adapter.orchestra" level="DEBUG" />
    <logger name="com.qsystems.meddoctorassignment.adapter.gateway.impl.ConfigurableVisitWorkflowGateway" level="DEBUG" />
    <logger name="org.springframework" level="WARN" />
    
    
    <root level="debug">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE"/>
    </root>
</configuration>